
@media (max-width: @screen-xs-max) {
    #video{
        width: 300px;
        height: 200px;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    #video{
        width: 360px;
        height: 240px;
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    #video{
        width: 560px;
        height: 374px;
    }
    #video-list{
        height: 300px;
        overflow-y: auto;
    }
}
@media (min-width: @screen-lg-min) {
    #video{
        width: 660px;
        height: 440px;
    }
    #video-list{
        height: 300px;
        overflow-y: auto;
    }
}