@media(min-width:992px){
    #video{
        width: 560px;
        height: 374px;
    }
}
@media(max-width:768px){
    #video{
        width: 368px;
        height: 240px;
    }
}
@media(min-width:992px){
    #video-list{
        height: 300px;
        overflow-y: auto;
    }
}